footer {
    height: 70px;
    background-color: rgba(41, 9, 100, 0.9);
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 15px  15px rgba(22, 4, 54, 0.5);

}
.gitHub-link {
    color: #999;
}
.gitHub-link:hover {
    cursor: pointer;
    color: white;
}