header {
    height: 70px;
    background-color: rgba(41, 9, 100, 0.9);
    display: flex;
    align-items: center;
    box-shadow: 15px 15px 15px  15px rgba(22, 4, 54, 0.5);

}
nav {
    display: flex;
    padding: 0 20px;
}
header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
}
header a:hover {
    color: rgb(225, 226, 235);
}
