* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
	background-repeat: no-repeat;
  	background-attachment: fixed;
    background-color: #f0f2f5;
    min-height: calc(100vh - 140px);
    padding: 20px;
}