.subcategory-box {
    margin-left: 20px;
}
.name-price-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tree-item-name {
    cursor: pointer;
}
.remove-button {
    margin-left: 10px;
    font-weight: 20px;
    cursor: pointer;
    color: rgb(221, 9, 9)
}
.add-button {
    margin-left: 10px;
    font-weight: 20px;
    cursor: pointer;
    color: rgb(9, 243, 20)
}
.category {
    display: flex;
    flex-direction: column;
}
.category-button,
.remove-button,
.add-button {
    margin: 0 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.category-name,
.category-price,
.category-total-price {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
}
.category-name {
    cursor: pointer;
    font-weight: 500;
}
.category-name-box,
.subcategory-element {
    display: flex;
    align-items: center;
}
.branch-visibility--true {
    display: flex;
}
.branch-visibility--false {
    display: none;
}
.root-category--true {
    font-weight: bolder;
}
.tree-arrow-sub-box {
    position: absolute;
    top: 2px;
    left: -7px;
    height: 15px;
    width: 15px;
    background-color: white;
    transform: rotate(45deg);
    z-index: 9000;
}
.tree-arrow-box {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: #333;
    transform: rotate(45deg);
    z-index: -1;
}
.rotate--true {
    transform: rotate(135deg);
}